* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    --maincolor:#625A65;
    --mybg:#F8F8F8;
}


/* ********************Header******************** */
.navbg{
    z-index: 3;
}
.right a{
    color: white ;
    font-family: 'Times New Roman', Times, serif;
}

.animationdot{
     width: 40px; height: 70px; transform:translateY(-150%); 
    -webkit-transform:translateY(-150%); -moz-transform:translateY(-150%); 
    -ms-transform:translateY(-150%); -o-transform:translateY(-150%);
border: 3px white solid;
}
.dot{
    width: 10px;
    height: 10px;
    animation: dottmoveing 1s infinite alternate;
    -webkit-animation: dottmoveing 1s infinite alternate;
}

.fixedright{
    
    width: 50px; height: 100px; position: absolute; top:calc(100vh/2); right: 100%; transform:translateY(-50%) ; -webkit-transform:translateY(-50%) ; -moz-transform:translateY(-50%) ; -ms-transform:translateY(-50%) ; -o-transform:translateY(-50%) ;
}
.fixedright i{
    color: var(--maincolor);
}
@keyframes dottmoveing {
from{
    opacity: 0;
    transform:translateY(20px) ; -webkit-transform:translateY(20px) ; -moz-transform:translateY(20px) ; -ms-transform:translateY(20px) ; -o-transform:translateY(20px) ;
}
to{
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}

}
.right li:hover a{

color: #8b734d !important;



}
header{
    height: 100vh;
    background-image: url(../images/drew-coffman-1872.jpg);
    background-size: 100% 100%;
}
header .headerlayer{
    background-color: rgba(51, 48, 48, 0.138);
    height: 100vh;
}
.headerContent p{
    color: white;
}
.btn1{
    background-color: #8E7754;
    color: white;
    border: none;
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;
}
.btn1:hover{
    background-color: white;
    color: black;
}
.btn2{
    background-color: transparent;
    border: 1px white solid;
    color: white;
}
.headerContent h2{
    font-family: 'Times New Roman', Times, serif;
}
/* ****************WHO WE ARE********************* */
.second{
    width: 90%;
    margin: auto;
}

.second li, .second p{
    line-height: 2.5rem;
    margin: 1.5rem;
    line-height: 2.5rem;
}
.second i{
    color: #8E7754;
    font-size: larger;
}
h2{
    font-family: 'Times New Roman', Times, serif;
}
.third{
    background-color: var(--mybg);
   
}
/* *****************our baking***************** */
.ourbaking h3{
    font-family: 'Times New Roman', Times, serif;
}
/* *******************contact informatio************* */
 li .iconcircle{

width: 40px !important;
height: 40px !important;
background-color:#a88859;

}
/*********************** section of details********************** */
.bgo{
    
color: white;
background-color: #34322e;
   
}
.bgo h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
.bgo p{
    line-height: 2.5rem;
    color: var(--maincolor);
}
.details{
    color: var(--maincolor);
}
li a{
   color: var(--maincolor); 
}
/* ************footer************* */
.ic{
    height: 50px;
    width: 50px;
background-color:#787064;
}
.ic i{
    color: #c3bfb6;
}
/* ****about** */
.prog{
    background-color: #8E7754;
}
/* *our offer */


.textcolor *{
color: var(--maincolor);
}
/* gallery */
.zoomin{
    height: 350px;
}
.zoomin:hover img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.zoomin img{ 
    height: 100%;
    transition:all 1s ; -webkit-transition:all 1s ; -moz-transition:all 1s ; -ms-transition:all 1s ; -o-transition:all 1s ;
}
.glass{
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.zoomin:hover .glass{
opacity: 1;
}
.fa-gear:hover , .fa-cart-shopping:hover{
    color:#ba904c
}
aside
{
    width: 15%;
    top: 0px;
    z-index: 200;
    transition:1s all !important ;
    -webkit-transition:1s all !important ;
    -moz-transition:1s all !important ;
    -ms-transition:1s all !important ;
    -o-transition:1s all !important ;
}
.fa-times{
    color: red !important;
}
#asidee h3 {
    color: white;
    width: fit-content;
    background-color: #c7a876;

}
#asidee h4{
    width: fit-content;
    color:#c3bfb6
}
.coloringpalette span:nth-child(1){
    height: 20px;
    background-color: aqua;
    cursor: pointer;
}
.coloringpalette span:nth-child(2){
    height: 20px;
    background-color: rgb(240, 125, 17);
}
.coloringpalette span:nth-child(3){
    height: 20px;
    background-color: rgb(130, 22, 202);
}
.coloringpalette span:nth-child(4){
    height: 20px;
    background-color: rgb(244, 19, 75);
}
.coloringpalette span:nth-child(5){
    height: 20px;
    background-color: rgb(167, 238, 14);
}
.coloringpalette span:nth-child(6){
    height: 20px;
    background-color: rgb(144, 19, 239);
}
.coloringpalette span:nth-child(7){
    height: 20px;
    background-color: rgb(238, 64, 192);
}
.coloringpalette span:nth-child(8){
    height: 20px;
    background-color: rgb(252, 70, 73);
}
.coloringpalette span:nth-child(9){
    height: 20px;
    background-color: rgb(211, 49, 16);
}
.coloringpalette span:nth-child(10){
    height: 20px;
    background-color: rgb(22, 116, 156);
}
.coloringpalette span:nth-child(11){
    height: 20px;
    background-color: rgb(102, 230, 147);
}
.coloringpalette span:nth-child(12){
    height: 20px;
    background-color: rgb(92, 145, 251);
}
form button{
    width: 60px;
    height: 40px;
    color: white;
    border: none;
    background-color: #a88859;
}
p{
    
line-height: 2.5rem;
}
a img:hover{ transform:scale(1.2,1.2) ; -webkit-transform:scale(1.2,1.2) ; -moz-transform:scale(1.2,1.2) ; -ms-transform:scale(1.2,1.2) ; -o-transform:scale(1.2,1.2) ;
}